<header id="primary-header">
    <nav>
        <div>
            <span><strong>Bar Cards</strong></span>
        </div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cocktails">Cocktails</a></li>
                <li><a href="/cocktails/new">New Cocktail</a></li>
                <li><a href="/compendiums">My Compendiums</a></li>
                <li><a href="/compendiums/new">New Compendium</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <span>Active Compendium: ******</span>
    </div>
</header>