<header id="primary-header">
    <nav>
        <div>
            <span><strong>Bar Cards</strong></span>
        </div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cocktails">Cocktails</a></li>
                <li><a href="/mycompendium">My Compendium</a></li>
                <li><a href="/cocktails/new">New Cocktail</a></li>
            </ul>
        </div>
    </nav>
</header>