<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My house stylesheet for this project. -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Stylesheet just for cards on show followed by mini cards for index -->
    <link href="/css/cocktail-card.css" rel="stylesheet">
    <!-- Stylesheet for compendium related stuff. -->
    <link href="/css/compendium.css" rel="stylesheet">

    <title>Bar Cards</title>
</head>

    <body class="d-flex flex-column vh-100">
        <%- include('../partials/navbar') %>
        <main class="container">  
            
            <%- body %>

        </main>
        <%- include('../partials/footer') %>
    </body>

</html>