<% layout('layouts/boilerplate') %>

<section id="home-card">
    <h1>Welcome to Bar Cards!</h1>
    
    <p><strong>Bar Cards</strong> is a platform for <a href="#">Bar Managers</a> to create <a href="#">custom compendiums</a> for their bar programs, and then share those drink recipes with their crew. There are a large amount of existing cocktails to choose from, as well as the ability to create your own personalized (and <strong>private</strong>) list of <strong>House
    Cocktails</strong>. Bar Managers may also edit any of the standard drinks to fit the needs of their individual
    programs as they see fit.</p>

    <p>Please, <a href="#">create an account</a> to get started!</p>
</section>