* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

#primary-header {
    background-color: #f5f5f5;
    padding: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#primary-header nav {
    display: flex;
    flex-direction: row;
}

#primary-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
}

#primary-header ul li {
    padding: 0 1rem;
}

main {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 39px;
}

#primary-footer {
    background-color: #f5f5f5;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* BUTTONS YAAAAY BUTTONS!!! -------------------------------------------------*/

button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

/* FORMS AND INPUT STYLE -------------------------------------------------*/

input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.25rem 0.25rem;
    text-decoration: none;
    margin: 0.5rem 0rem;
    width: 80%;
}

/* Cocktail input form (new & edit) */

.cocktail-form {
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktail-form label {
    font-size: 1.25rem;
}

.label-input-pair {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#description,
#instructions {
    width: 20rem;
    height: 100px;
    resize: none;
}

.ingredients-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ingredients-wrapper ul {
    width: 100%;
}

.ingredients-wrapper li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ingredients-wrapper label {
    font-size: 1rem;
}

.ingredients-wrapper input {
    width: 70%;
    margin: 0.5rem 0;
}

#image-URL-label {
    font-size: 0.95rem;
}

/* This disables the arrows from appearing in the number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* HOME -------------------------------------------------*/
/* The following styles the intro/home page content. */

#home-card {
    width: 40rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    background: rgb(172, 245, 255);
}

#home-card h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

#home-card p {
    font-size: 1.25rem;
    text-align: justify;
    padding-bottom: 1rem;
}

#home-card span {
    display: block;
    font-size: 1.75rem;
    text-align: center;
}

#home-account-zone {
    width: 40rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

#home-signup-zone {
    width: 40rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 185, 80);
}

#home-account-zone h2,
#home-signup-zone h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

#home-signup-zone div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#home-account-zone input {
    width: 15rem;
}

/* Maybe diffrent colors here? */

#new-manager-btn {
}

#new-crew-btn {
}

/* Errors */

.alert {
    color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    width: 30rem;
    border-radius: 5px;
}

.alert h1 {
    text-align: center;
}

.error-alert {
    background-color: #dd0000;
}
