<% layout('layouts/boilerplate') %>

<h1>My Compendiums</h1>

<div>
    <a href="/compendiums/new">Create a new compendium</a>
</div>

<ul>
    <li>My compendium I</li>
    <li>My compendium II</li>
    <li>My compendium III</li>
    <li>My compendium IV</li>
    <li>My compendium V</li>
</ul>